<h2>What do you want?</h2>
  <%= f.text_field :item, placeholder: "Name your gift", class: "form-control form-control-lg" %>
<h2>Tell me why I should get it for you?</h2>
  <%= f.text_area :description, :size => "70x10",placeholder: "Explain Yourself...", class: "form-control form-control-lg" %>
<h2>Give me the link?</h2>
	<%= f.text_field :link, placeholder: "HTML", class: "form-control form-control-lg" %>