
<div class="main">
    <div class="container">
    	<%= link_to "Back", {:action => "index"}, class: "btn btn-outline-dark"%>
    	<h2>What do you really really want of Christmas?</h2>
    	<img src="https://media.giphy.com/media/MhVdjqeKACHmM/giphy.gif"/>
		<%= form_for @new_post do |f| %>

	       <%= render(:partial => "form", :locals => {:f => f} ) %>

			<br>
			<br>
		<%= f.button "Submit", class: "btn btn-outline-success btn-lg" %>
        <% end %>
    </div>
</div>